<div class="col-sm-6 file-upload" flow-init ng-model="vm.upload">
    <div flow-init="{target: '/home'}">
        <span class="btn btn-primary" flow-btn ng-click="vm.message = false">Виберіть файл(и)</span>
        <span class="btn btn-primary" ng-click="vm.InsertItems($flow)">Завантажити</span>
        <ul class="filesupload">
            <!-- <td>{{$index+1}} </td>
            <td>{{file.name}}</td>-->
            <li ng-repeat="file in $flow.files">
                <img flow-img="$flow.files[$index]"/>
                <span class="fileClose" ng-click="$flow.removeFile($flow.files[$index])">x</span>
            </li>
        </ul>
        <span ng-show="vm.message">Зображення успішно завантажені!</span>
    </div>
</div>
