<!-- offer edit -->
<section>
    <div class="container edit-offer">
        <div>
            <h2 class="text-left">Редагування пропозиції</h2>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <form editable-form name="editOfferForm" onaftersave="vm.saveEditedOffer()">
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Назва:</label>

                        <div class="col-sm-10">
                            <div>
                                <span editable-text="vm.editedOffer.title" e-name="name"
                                      e-required>{{ vm.editedOffer.title }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Категорія:</label>

                        <div class="col-sm-10 col-md-6 col-lg-4">
                            <!-- here should be pre-filled data from previous page -->
                            <ol class="breadcrumb">
                                <li>Одяг</li>
                                <li>Дитячий одяг</li>
                                <li>Техніка</li>
                            </ol>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row offer-desc">
                        <label class="control-label col-sm-2">Опис пропозиції:</label>

                        <div class="col-sm-10">
                            <div>
                                <a href="#" editable-textarea="vm.editedOffer.offerText" e-rows="7" e-cols="90">
                                    <pre>{{ vm.editedOffer.offerText }}</pre>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Фото:</label>
                        <file-upload-directive upload="vm.upload"></file-upload-directive>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Виберіть область:</label>

                        <div class="col-sm-3">
                            <span editable-select="vm.region" e-name="region" e-ng-options="region.name for region in vm.regions track by region.id" e-ng-change="vm.setRegion($data);">
                                {{ vm.region.name }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Виберіть місто:</label>

                        <div class="col-sm-2">
                            <!-- here should be pre-filled data depending on previous select field -->
                            <span editable-select="vm.city" e-name="city" e-ng-options="city.name for city in vm.cities" e-ng-disabled="!editOfferForm.region.$modelValue">
                                {{ vm.city.name }}
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Адреса:</label>

                        <div class="col-sm-3">
                            <span editable-text="vm.editedOffer.address" e-name="street" id="str">{{ vm.editedOffer.address }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <date-picker date="vm.dt">{{vm.editedNeed.date}}</date-picker>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Зручний час:</label>

                        <div class="col-sm-3">
                            <span editable-text="vm.editedOffer.convenientTime" e-name="time">{{ vm.editedOffer.convenientTime }}</span>
                        </div>
                    </div>
                    <status status="vm.editedOffer.status" statuses="vm.editedOfferStatuses"></status>
                    <!-- button to show form -->
                    <div class="form-group row pull-right">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-default" ng-click="editOfferForm.$show()"
                                    ng-show="!editOfferForm.$visible" ng-init="editOfferForm.$show()">
                                Edit
                            </button>
                            <!-- buttons to submit / cancel form -->
                    <span ng-show="editOfferForm.$visible">
                       <button type="submit" class="btn btn-primary" ng-disabled="editOfferForm.$waiting">
                          Зберегти
                      </button>
                      <a ng-click="vm.cancel()" class="btn btn-default" id="myButton0">Відмінити</a>
                      <!--<button type="button" class="btn btn-default" ng-disabled="editOfferForm.$waiting"
                              ng-click="editOfferForm.$cancel()">
                          Скасувати
                      </button> -->
                    </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- edit, the end of section -->

