<!-- New offer, second step, register -->
<section>
  <div class="container">
    <div>
      <h2 class="text-left">Нова пропозиція</h2>
      <div>
        <h2 class="text-left">Нова потреба</h2>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <form editable-form name="editableForm" onaftersave="saveUser()">
            <div class="form-group row">
              <label class="control-label col-sm-2">Назва</label>
              <div class="col-sm-10">
                <div>
                  <span editable-text="vm.updatedOffer.name" e-name="name" onbeforesave="checkName($data)" e-required ng-model="vm.updatedOffer.name">{{ vm.updatedOffer.name || 'empty' }}</span>
                </div>
              </div>
            </div>
            <div>
              <!-- here should be pre-filled data from previous page -->
              <ol class="breadcrumb">
                <li>
                  <a href="#">Одяг</a>
                </li>
                <li>
                  <a href="#">Дитячий одяг</a>
                </li>
                <li>Светри</li>
              </ol>
            </div>
            <hr>
            <div class="form-group row">
              <label class="control-label col-sm-2">Опис потреби</label>
              <div class="col-sm-10">
                <div>
                  <a href="#" editable-textarea=" vm.offerText" e-rows="7" e-cols="40">
                  <pre>{{  vm.offerText || 'no description' }}</pre>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2">Фото:</label>
            <div class="col-sm-10">
              <input type="file" id="exampleInputFile">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2">Виберіть розмір:</label>
            <div class="col-sm-10">
              <span editable-select="vm.size.name" e-name="name" e-ng-options="s.value as s.text for s in vm.size">
                {{ vm.size.name || 'XL' }}
              </span>
            </div>
            <hr>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2">Виберіть область:</label>
            <div class="col-sm-10">
              <span editable-select="vm.regions.name" e-name="name" e-ng-options="s.value as s.text for s in vm.regions">
                {{ vm.regions.name  || 'empty'}}
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2">Виберіть місто:</label>
            <div class="col-sm-10">
              <span editable-select="vm.city.name" e-name="name" e-ng-options="s.value as s.text for s in vm.city">
                {{ vm.city.name || 'empty' }}
              </span>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="control-label col-sm-2">Адреса:</label>
            <div class="col-sm-3">
              <span editable-text="vm.user.street" e-name="street" onbeforesave="checkName($data)" id="str">{{ vm.user.street || 'вул. Тараса Шевченка' }}</span>
            </div>
            <div class="col-sm-3">
              <span editable-text="vm.user.house" e-name="house" onbeforesave="checkName($data)" id="str">{{ vm.user.house || 'Номер будинку' }}</span>
            </div>
            <div class="col-sm-3">
              <span editable-text="vm.user.flat" e-name="flat" onbeforesave="checkName($data)" id="str">{{ vm.user.flat || 'Номер квартири' }}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2">Актуальність</label>
            <div class="col-sm-3">
              <input type="date" value="2015-01-01" max="2018-01-01" min="2015-01-01"> <!-- tbd, working only in Chrome -->
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2">Зручний час</label>
            <div class="col-sm-3">
              <span editable-text="vm.user.time" e-name="name" onbeforesave="checkName($data)">{{ vm.user.time || 'Пн-Пт, 10:00 - 19:00;' }}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2">Зможу забрати:</label>
            <div class="col-sm-6">
              <span editable-radiolist="vm.user.status" e-ng-options="s.value as s.text for s in vm.statuses">
                {{ vm.showStatus() }}
              </span>
            </div>
          </div>
          <div>
            <!-- button to show form -->
            <div class="form-group row pull-right">
              <div class="col-sm-12 ">
                <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
                </button>
                <!-- buttons to submit / cancel form -->
                <span ng-show="editableForm.$visible">
                  <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                  Зберегти
                  </button>
                  <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                  Скасувати
                  </button>
                </span>
              </div>
            </form>
          </div>
        </form>
      </div>
    </section>
    <!-- New need, the end of section -->