<section>
    <div class="container">
        <div>
            <h2 class="text-left">Нова пропозиція</h2>
        </div>
        <form class="form-horizontal" ng-submit="vm.submitOffer();">
            <div class="form-group row">
                <label class="control-label col-sm-2">Назва</label>
                <div class="col-sm-10">
                    <!-- here should be pre-filled data from  newofferstep1.html -->
                    <h3>{{vm.offer.title}}</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Категорія</label>
                <div class="col-sm-10">
                    <!-- here should be pre-filled data from previous page -->
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Одяг</a>
                        </li>
                        <li>
                            <a href="#">Дитячий одяг</a>
                        </li>
                        <li>{{vm.offer.category}}</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Опис пропозиції</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="4" placeholder="Опишіть вашу пропозицію" ng-model="vm.offer.description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Фото:</label>
                <file-upload-directive upload="vm.upload"></file-upload-directive>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Розмір:</label>
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Виберіть область:</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-options="region.name for region in vm.regions track by region.id" ng-model="region" ng-change="vm.setCity(region.id, region.name);">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Виберіть місто:</label>
                <div class="col-sm-2">
                    <!-- here should be pre-filled data depending on previous select field -->
                    <select class="form-control" id="cities" ng-options="city.name for city in vm.cities" ng-model="vm.offer.city" ng-disabled="!(region)"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Адреса:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="street" id="str" ng-model="vm.offer.street" placeholder="вул. Тараса Шевченка">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="house" id="house_nmb" ng-model="vm.offer.houseNumber" placeholder="Номер будинку">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="flat" id="flat_nmb" ng-model="vm.offer.flatNumber" placeholder="Номер квартири">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <date-picker date="vm.dt"></date-picker>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Зручний час</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="s_time" ng-model="vm.offer.suitableTime" placeholder="Пн-Пт, 10:00 - 19:00;">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Зможу забрати:</label>
                <div class="col-sm-6">
                    <label class="radio-inline">
                        <input type="radio" name="canGet" value="option1" ng-model="vm.getChecked" ng-value="true">Так
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="canGet" value="option2" ng-model="vm.getChecked" ng-value="false" checked>Ні
                    </label>
                </div>
            </div>
            <div class="form-group row pull-right">
                <div class="col-sm-12 ">
                    <button type="reset" class="btn btn-default" id="myButton0">Відмінити</button>
                    <button type="submit" class="btn btn-primary" id="myButton">Опублікувати</button>
                </div>
            </div>
        </form>
    </div>
</section>
