<aside class="hidden-xs hidden-md hidden-lg marginTop">&nbsp;</aside>
<section>
    <div class="contentWrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <!--div class="btn-group col-xs-12 col-sm-4 col-md-4 col-lg-4 marginBottom" dropdown>
                    <button class="btn btn-info dropdown-toggle col-xs-12" type="button" id="dropdownMenu2" dropdown-toggle aria-haspopup="true" aria-expanded="true">
                        Категорії&nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu2">
                        <li><a href="#">Stuff</a></li>
                        <li><a href="#">Stuff</a></li>
                        <li><a href="#">Stuff</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Stuff from different category</a></li>
                        <li><a href="#">Stuff from different category</a></li>
                    </ul>
                </div-->
                <location-search location="vm.location"></location-search>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 marginBottom">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Я шукаю..." ng-model="vm.preSearch">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.setSearch(vm.preSearch)">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--   for testing-->


    <!--   for testing-->
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-md-offset-2 col-lg-offset-2 search-result">
        <hr>
        <h2>За Вашим запитом знайдено {{ filtered.length }} пропозицій:</h2>
        <hr>
        <div ng-repeat="offer in vm.offers | filter: vm.location | filter: vm.search as filtered">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 hidden-xs">
                    <img src="{{ offer.image }}" class="img-thumbnail" alt="Main photo">
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-7">
                    <div>
                        <strong><a ui-sref="offers.created">{{ offer.desc }}</a></strong>
                        <p>
                            {{ offer.body }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong>{{ offer.location }}</strong>
                            <small> / </small>
                            <strong>{{ offer.date }}</strong>
                        </div>
                    </div>
                </div>
                <div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <p><b>Автор: </b></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p>
                                <a href="/profile/user">{{ offer.author }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <p><b>Категорія: </b></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p>
                            <span>{{ offer.category }}</span>
                            <div><a ui-sref="offers.edit({id:1})">Редагувати</a></div>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <hr>
        </div>
        <pagination total-items="vm.totalItems" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" ng-change="vm.loadPage()"
                    max-size="5" boundary-links="true" class="pagination-sm" first-text="Перша" last-text="Остання"
                    previous-text="Попередня" next-text="Наступна"></pagination>
    </div>
</section>

