<!--aside class="hidden-xs hidden-md hidden-lg marginTop">&nbsp;</aside-->
<section id="index">
    <div class="background-img img-responsive">
        <div class="jumbotron">
            <!-- <h1>Благодійний портал</h1>
            <p>Поділись добром з іншими, і воно обов'язково до тебе повернеться!</p> -->
        </div>
    </div>
    <section class="main-filters">
        <div class="container">

            <div class="col-xs-12 col-sm-11 no-gutter">
                <div class="col-xs-6 no-gutter margin-bottom-20">
                    <input id="key-search" type="search" ng-model="vm.searchValue"
                           ng-keyup="$event.keyCode === 13 && vm.submitCategorySearch(vm.searchValue, vm.category, vm.location)"
                           class="form-control" placeholder="Що ви шукаєте...">
                </div>
                <category-search class="col-xs-2 no-gutter margin-bottom-20" category="vm.category"></category-search>
                <location-search class="col-xs-2 no-gutter margin-bottom-20" location="vm.location"></location-search>
                <div class="search-input-wrap needs col-xs-2 no-gutter margin-bottom-20" dropdown
                     is-open="status.isopen">
                    <input type="text" class="form-control" dropdown-toggle ng-model="vm.contentType"
                           ng-disabled="disabled" placeholder="Потреби" readonly/>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <a href="#" ng-click="vm.setContentType('Потреби')">Потреби</a>
                        </li>
                        <li role="menuitem">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <a href="#" ng-click="vm.setContentType('Пропозиції')">Пропозиції</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="col-xs-12 col-sm-1 btn btn-success glyphicon glyphicon-search"
                    ng-click="vm.submitCategorySearch(vm.searchValue, vm.category, vm.location)"></button>

        </div>
    </section>
    <section class="recent-publications container">

        <div class="well">
            <h3 class="text-center">Останні потреби</h3>

            <div class="recent-needs">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter"
                         ng-repeat="needs in vm.needsData | orderBy: 'created': true | limitTo: 4">
                        <div class="post-panel">
                            <div class="post-image">
                                <a ui-sref="needs.created({id:{{needs.id}}})"><img src="../../images/pants_bk.png"
                                                                                   alt="computer"
                                                                                   class="img-responsive center-block"/></a>
                            </div>
                            <div class="post-description">
                                <h6>
                                    <strong>
                                        <a ui-sref="needs.created({id:{{needs.id}}})">{{ needs.name }}</a>
                                    </strong>
                                </h6>

                                <div class="details row">
                                    <div class="col-xs-6 text-right">
                                        <strong class="clipped-text">{{ needs.city.name }}</strong>
                                        <span>{{ needs.created | date:'dd-MM-yyyy'}}</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <strong>Автор:</strong>
                                        <a ui-sref="profile.user({id:{{needs.userCreated.id}}})" class="clipped">{{
                                            needs.userCreated.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <h3 class="text-center">Останні пропозиції</h3>

            <div class="recent-needs">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter"
                         ng-repeat="offers in vm.offersData | orderBy: 'created': true | limitTo: 4">
                        <div class="post-panel">
                            <div class="post-image">
                                <a ui-sref="offers.created({id:{{offers.id}}})"><img src="../../images/pants_bk.png"
                                                                                     alt="computer"
                                                                                     class="img-responsive center-block"/></a>
                            </div>
                            <div class="post-description">
                                <h6>
                                    <strong>
                                        <a ui-sref="offers.created({id:{{offers.id}}})">{{ offers.name }}</a>
                                    </strong>
                                </h6>

                                <div class="details row">
                                    <div class="col-xs-6 text-right">
                                        <strong>{{ offers.city.name }}</strong>
                                        <strong>{{ offers.created | date:'dd-MM-yyyy'}}</strong>
                                    </div>
                                    <div class="col-xs-6">
                                        <strong>Автор:</strong>
                                        <a ui-sref="profile.user({id:{{offers.userCreated.id}}})" class="clipped">{{
                                            offers.userCreated.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</section>
