<!--aside class="hidden-xs hidden-md hidden-lg marginTop">&nbsp;</aside-->
<section id="index">
    <div class="background-img img-responsive">
        <div class="jumbotron">
            <!-- <h1>Благодійний портал</h1>
            <p>Поділись добром з іншими, і воно обов'язково до тебе повернеться!</p> -->
        </div>
    </div>
    <section class="main-filters">
        <div class="container">

            <div class="col-xs-12 col-sm-11 no-gutter">
                <div class="search-input-wrap col-xs-6 no-gutter margin-bottom-20">
                    <input id="key-search" type="search" class="form-control " placeholder="Що ви шукаєте...">
                </div>
                <category-search class="col-xs-2 no-gutter margin-bottom-20" category="vm.category"></category-search>
                <location-search class="col-xs-2 no-gutter margin-bottom-20" location="vm.location"></location-search>
                <div class="col-xs-2 no-gutter margin-bottom-20" dropdown is-open="status.isopen">
                    <input type="text" class="form-control" dropdown-toggle ng-model="vm.contentType" ng-disabled="disabled" placeholder="Потреби"  readonly/>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#" ng-click="vm.setContentType('Потреби')">Потреби</a></li>
                        <li role="menuitem"><a href="#" ng-click="vm.setContentType('Пропозиції')">Пропозиції</a></li>
                    </ul>
                </div>
            </div>
            <button class="col-xs-12 col-sm-1 btn btn-success glyphicon glyphicon-search" ng-click="vm.submitCategorySearch(vm.category, vm.location)"></button>
`
        </div>
    </section>
    <section class="recent-publications container">

        <div class="well">
            <h3 class="text-center">Останні потреби</h3>
            <div class="recent-needs">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/pants_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><a ui-sref="needs.created">Штани камуфляжні на фронт</a></h5>
                                <div class="details row">
                                    <div class="col-xs-6 text-right">
                                        <strong class="clipped-text">Київ</strong>
                                        <span>11-06-2014</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <strong>Автор: </strong>
                                        <a ui-sref="profile.user" class="clipped">Євген Лірник</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/socks_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><a ui-sref="needs.created">Теплі зимові шкарпетки</a></h5>
                                <div class="details row">
                                    <div class="col-xs-6 text-right">
                                        <strong class="clipped-text">Львів</strong>
                                        <span>11-06-2015</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <strong>Автор: </strong>
                                        <a ui-sref="profile.user">Степан Чиж</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/sweater_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><a ui-sref="needs.created">Светрик для Павла Зіброва</a></h5>
                                <div class="details row">
                                    <div class="col-xs-6 text-right">
                                        <strong class="clipped-text">Чернівці</strong>
                                        <span>11-07-2015</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <strong>Автор: </strong>
                                        <a ui-sref="profile.user">Ігор Качмар</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/shoes_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description test">
                                <h5><a ui-sref="needs.created">Взуття 43 розміру для офіцерів першого добровольчого полку</a></h5>
                                <div class="details row">
                                    <div class="col-xs-6 text-right">
                                        <strong class="clipped-text">Івано-Франківськ</strong>
                                        <span>11-06-2015</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <strong>Автор: </strong>
                                        <a ui-sref="profile.user">Степан Чиж</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <h3 class="text-center">Останні пропозиції</h3>
            <div class="recent-needs">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/pants_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h6><strong><a ui-sref="offers.created">Штани камуфляжні на фронт</a><strong></h6>
                                <strong>Київ</strong>
                                <small> / </small>
                                <strong>11-06-2014</strong>
                                <p><b>Автор: </b><a ui-sref="profile.user">Євген Лірник</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/socks_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h6><strong><a ui-sref="offers.created">Теплі зимові шкарпетки</a><strong></h6>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a ui-sref="profile.user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/sweater_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h6><strong><a ui-sref="offers.created">Светрик в'язаний</a><strong></h6>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a ui-sref="profile.user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/shoes_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h6><strong><a ui-sref="offers.created">Взуття 43 розміру </a></strong></h6>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a ui-sref="profile.user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>




    </section>
</section>
