<!--aside class="hidden-xs hidden-md hidden-lg marginTop">&nbsp;</aside-->
<section id="index">
    <div class="background-img img-responsive">
        <div class="jumbotron">
            <!-- <h1>Благодійний портал</h1>
            <p>Поділись добром з іншими, і воно обов'язково до тебе повернеться!</p> -->
        </div>
    </div>
    <section class="main-filters">
        <div class="container">

            <div class="col-xs-12 col-sm-11 no-gutter">
                <div class="col-xs-6 no-gutter margin-bottom-20">
                    <input id="key-search" type="search" class="form-control " placeholder="Що ви шукаєте...">
                </div>
                <div class="btn-group col-xs-2 no-gutter margin-bottom-20" dropdown is-open="status.isopen">
                    <input id="single-button" type="text" class="form-control" dropdown-toggle ng-model="vm.contentType" ng-disabled="disabled" placeholder="Що шукаємо?"/>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#" ng-click="vm.setContentType('Потреби')">Потреби</a></li>
                        <li role="menuitem"><a href="#" ng-click="vm.setContentType('Пропозиції')">Пропозиції</a></li>
                    </ul>
                </div>
                <category-search class="col-xs-2 no-gutter margin-bottom-20" category="vm.category"></category-search>
                <location-search class="col-xs-2 no-gutter margin-bottom-20" location="vm.location"></location-search>
            </div>
            <button class="col-xs-12 col-sm-1 btn btn-success glyphicon glyphicon-search" ng-click="vm.submitCategorySearch(vm.category, vm.location)"></button>

        </div>
    </section>
    <section class="recent-publications container">

        <div class="well">
            <h2 class="text-center">Останні потреби</h2>
            <div class="recent-needs">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/pants_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><strong><a href="/needs/createdneed">Штани камуфляжні на фронт</a><strong></h5>
                                <strong>Київ</strong>
                                <small> / </small>
                                <strong>11-06-2014</strong>
                                <p><b>Автор: </b><a href="/profile/user">Євген Лірник</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/socks_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><strong><a href="/needs/createdneed">Теплі зимові шкарпетки</a><strong></h5>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a href="/profile/user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/sweater_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><strong><a href="/needs/createdneed">Светрик для Павла Зіброва</a><strong></h5>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a href="/profile/user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/shoes_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><strong><a href="/needs/createdneed">Взуття 43 розміру в Дім Реабілітації</a></strong></h5>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a href="/profile/user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="well">
            <h2 class="text-center">Останні пропозиції</h2>
            <div class="recent-needs">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/pants_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><strong><a href="/needs/createdneed">Штани камуфляжні на фронт</a><strong></h5>
                                <strong>Київ</strong>
                                <small> / </small>
                                <strong>11-06-2014</strong>
                                <p><b>Автор: </b><a href="/profile/user">Євген Лірник</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/socks_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><strong><a href="/needs/createdneed">Теплі зимові шкарпетки</a><strong></h5>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a href="/profile/user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/sweater_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><strong><a href="/needs/createdneed">Светрик в'язаний</a><strong></h5>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a href="/profile/user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 no-gutter">
                        <div class="post-panel">
                            <div class="post-image">
                                <img src="../../images/shoes_bk.png" alt="computer" class="img-responsive center-block">
                            </div>
                            <div class="post-description">
                                <h5><strong><a href="/needs/createdneed">Взуття 43 розміру </a></strong></h5>
                                <strong>м.Львів{{  }}</strong>
                                <small> / </small>
                                <strong>11.03.2015{{ }}</strong>
                                <p><b>Автор: </b><a href="/profile/user">Степан Крук{{ }}</a></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>




    </section>
</section>
