<div class="form-inline">
    <!-- Select days starts-->
    <div class="form-group">
        <select class="form-control"
                ng-model="vm.convenientTime.dayFrom"
                required>
            <option value="monday" ng-selected="true">{{'core.days.monday' | translate}}</option>
            <option value="tuesday">{{'core.days.tuesday' | translate}}</option>
            <option value="wednesday">{{'core.days.wednesday' | translate}}</option>
            <option value="thursday">{{'core.days.thursday' | translate}}</option>
            <option value="friday">{{'core.days.friday' | translate}}</option>
            <option value="saturday">{{'core.days.saturday' | translate}}</option>
            <option value="sunday">{{'core.days.sunday' | translate}}</option>
        </select>
    </div>

    <span>--</span>

    <div class="form-group">
        <select class="form-control"
                ng-model="vm.convenientTime.dayTo"
                required>
            <option value="monday">{{'core.days.monday' | translate}}</option>
            <option value="tuesday">{{'core.days.tuesday' | translate}}</option>
            <option value="wednesday">{{'core.days.wednesday' | translate}}</option>
            <option value="thursday">{{'core.days.thursday' | translate}}</option>
            <option value="friday">{{'core.days.friday' | translate}}</option>
            <option value="saturday">{{'core.days.saturday' | translate}}</option>
            <option value="sunday" ng-selected="true">{{'core.days.sunday' | translate}}</option>
        </select>
    </div>

    <!-- Select days ends-->
    <!-- Time pickers start-->

    <span>{{'core.timeFrom' | translate}}</span>

    <div class="btn-group">
        <input type="text"
               name="timeFrom"
               class="form-control"
               ng-model="vm.convenientTime.timeFrom"
               ng-readonly="true"
               ng-focus="vm.fromTimeOfFocus()"
               ng-blur="vm.toggleFromDate()"/>

        <div class="pull-right" ng-class="{open: vm.fromTimeBtnIsOpened}">
            <button type="button"
                    class="btn btn-default"
                    ng-click="vm.toggleFromDate()"
                    dropdown-toggle>
                <i class="glyphicon glyphicon-time"></i>
            </button>
            <div class="dropdown-menu">
                <timepicker ng-model="vm.timeFrom"
                            show-meridian="false"
                            ng-change=" vm.selectFromTime(vm.timeFrom)">
                </timepicker>
            </div>
        </div>
    </div>

    <span>{{'core.timeTo' | translate}}</span>

    <div class="btn-group">
        <input type="text"
               class="form-control "
               ng-model="vm.convenientTime.timeTo"
               ng-readonly="true"
               ng-focus="vm.toTimeOfFocus()"
               ng-blur="vm.toggleToDate()"/>

        <div class="pull-right" ng-class="{open: vm.toTimeBtnIsOpened}">
            <button type="button"
                    class="btn btn-default"
                    ng-click="vm.toggleToDate()"
                    dropdown-toggle>
                <i class="glyphicon glyphicon-time"></i>
            </button>
            <div class="dropdown-menu">
                <timepicker ng-model="vm.timeTo"
                            show-meridian="false"
                            ng-change="vm.selectToTime(vm.timeTo)">
                </timepicker>
            </div>
        </div>
    </div>
    <!--Time pickers end-->
</div>

