html {
    overflow-x: hidden;
}

body {
    padding: 60px 0;
}

body .ng-scope {
}

/* section styling */
body > section {
    margin-top: 80px;
}

a {
    &:focus {
        outline: none;
    }
}

/*  Color variables */
@gray: rgba(70, 70, 70, 0.95);
@gray-light: rgb(187, 187, 187);

 /* Mixins */
.clipped-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropButtons {
	width: 90px;
}
/*.input-group {
	width: 40%;
	float: right;
}*/

.logo {
    position: relative;
    top: -4px;
}

.fw700 {
    font-weight: 700;
}

#footer .navbar-text {
    width: 100%;
}

#navbar {
    overflow: hidden;
}

#navbar ul li:hover {
    background-color: #ccc;
}
.currneLink{
    text-decoration: underline !important;
}
.container .control-label {
    text-align: left;
}
/*secondaryNavigation begin*/
.secondaryNavigation {
    padding-left: 1em;
    margin: 0;
}
.secondaryNavigation li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;

}
.secondaryNavigation li.topRow a {
    color: #000000;
}
.marginBottom {
    margin-bottom: 5px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.marginTop {
    display: block;
    height: 45px;
}
.marginRight {
    margin-right: 5px;
}
.fontWeight {
    font-weight: bold;
}
.fontWeight.collapsed {
     font-weight: normal;
}
/*secondaryNavigation end*/
@media (max-width:720px) {
    body {
        padding-bottom: 80px;
    }
}

@media (max-width:480px) {
    body {
        padding-bottom: 90px;
    }
}

/* footer style */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
    height: 60px;
}

.text-muted {
	text-align: center;
}
.text-muted span a {
	margin-right: 1em;
}
#date-picker {
    padding-right: 15px;
    padding-left: 15px;
}
.file-upload span {
    margin-bottom: 5px;
}

/* <--------------needs.html style--------> */
.topLinks {
    padding-top: 8em;
    text-align: left;
    position: relative;
    left: 5%;
}
.topLinks span {
    margin-right: 5px;
}
.topLinks span a {
    text-decoration: none;
    color: black;
}
.status {
    background-color: lightgray;
    padding: 15px;
    margin-bottom: 10px;
}
.activeNeed {
    font-weight: bold;
}
.status span {
    margin-right: 2em;
}
.status span a{
    color: black;
}
.status span a:hover{
    text-decoration: underline;
}
.search-result {
    margin-bottom: 50px;
}
.product-images img {
    margin-bottom: 15px;
}
#itemsPerPageWrapper {
    margin: 25px 20px;
}
#itemsPerPageWrapper ul {
    z-index: 1031;
}
#itemsPerPageWrapper ul li a {
    color: #777;
}
#itemsPerPageWrapper button {
    border-color: #ddd ;
    color: #777;
    text-transform: none;
}
/* <--------------needs.html style END--------> */

/* <--------------created_needs.html and created_offers.html styles--------> */

.product-images {
    .main_image img, .gallery img {
        width: 100%;
    }


}



#profileEdit {
    box-shadow: 5px 5px 2px #add8e6;
    margin-left: 1em;
}

/* <--------------login.html style--------> */
#loginModal .loginFooter {
    margin-top: 35px;
}

/* <--------------register.html style--------> */
#registerModal .registrationForm {
    margin-bottom: 40px;
}
/* <--------------register.html style END--------> */
.additional_images {
    padding: 10px 12px 0 0;
}
.heading {
    padding-bottom: 10px;
}
.buttons, .space {
    margin-top: 20px;
}
.offer-info {
    word-break: break-all;
}
/* <--------------index.html style--------> */
.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.main-filters {
    background-color: rgba(226, 226, 226, 0.7);
    .container {
        padding-top: 20px;
        input {
            background-color: #fff;
            padding-left: 0.5em;
            &#key-search {
                border-radius: 4px 0 0 4px;
            }
            box-shadow: inset 0px 0px 1px rgba(221, 221, 221, 0.5)
        }
        .btn {
            border-radius: 0 4px 4px 0;
            position: relative;
            top: 0px;
            height: 39px;
            box-shadow: inset 0 -1px 0 #dddddd;
            &:hover {
                box-shadow: inset 0 -1px 0 #1e8b6a;
            }
        }

    }
}

.background-img {
    background-image: url("../images/example.png");
    margin: -10px 0;
    text-align: center;
    background-position: center center;
    width: 100%;
    height: 500px;
}

.background-img .jumbotron {
    opacity: 0.75;
    background-color: transparent;
}

#index .btn-success {
    margin-bottom: 20px;
}

.last-needs {
    clear: left;
}
.recent-publications {
    .well {
        margin-top: 20px;
    }
    .post-panel {

        margin: 4px;
        background-color: #fff;
        border: 1px solid @gray-light;
        border-radius: 4px;
        .post-image {
            text-align: center;
            margin-bottom: 10px;
            img {
                border-radius: 3px 3px 0 0;
                width: 100%;
                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }
        .post-description {
            margin: 0 auto;
            width: 80%;
            h5 {
                color: @gray;
                font-size: 16px;
                .clipped-text;
                a {
                    color: @gray;
                }
            }
            .details {
                line-height: 16px;
                margin-bottom: 20px;
                strong {
                    display: block;
                }
                .text-right {
                    border-right: 1px solid #d4dbe0;
                }
                a {
                    color: @gray;
            }

        }
        }

    }

}



/* <--------------index.html style END--------> */
/* <--------------edit_offer.html style--------> */

.editable-empty {
    color: #000;
}

.offer-desc {
    clear: both;
}

/* <--------------edit_offer.html END--------> */

/* <--------------offers.html style --------> */
.check {
    margin: 10px 0 0 0;
}
.check span {
    margin-right: 20px;
}
.check span a {
    text-decoration: underline;
}
div.form-group.prev-next-buttons {
    margin-right: 0;
}
.title-label {
    margin-top: 15px;
}
/* <--------------offers.html style END--------> */

/* <--------------profile.html style --------> */

#profile li {
    list-style: disc;
}

#profile li:last-child {
    list-style: none;
}

.accorion-with-chevron .panel-group > .panel {
    & > .panel-heading i.chevron-icon:before {
        content: "\e080";
    }
    &.panel-open > .panel-heading i.chevron-icon:before {
        content: "\e114";
    }
}

.my-cabinet {
    .nav-tabs > li {
        width: 12%;
        &.wide {
            width: 19%;
        }
        a {
            text-align: center;
        }
        &.active a {
            background-color: lightgray;
        }
        &:last-child a {
            margin: 0;
        }
    }
    .tab-content {
        border: 1px solid @gray;
        border-top: none;
        border-radius: 0 0 4px 4px;
    }
    .publication-type {
        margin: 8px;
    }
    .status {
        margin-bottom: 0;
        > span a {
            color: #fff;
            font-size: 1.5em;
        }
    }
    .table > tbody > tr > td {
        vertical-align: middle;
    }
    .user-profile {
        margin: 15px;
        .stats a {
            color: #fff;
        }
        #profile {
            .editable-wrap {
                display: block;
            }
            address strong {
                margin-right: 3px;
            }
        }
    }
    .statistics {
        margin-top: 5px;
    }
    .message-date {
        width: 10%;
    }

}

/* <--------------profile.html style  END--------> */

/* <-------------- newNeed(Offer)beforeRegisterl style --------> */
.category, .subcategory {
    float: left;
    margin: 0 40px 0 0;
}
.subcategory, .subcategory_child {
    border-left: 1px solid #e5e5e5;
    float: left;
    padding-left: 20px;
}
.modal-dialog {
    width: 480px;
}
.modal-body {
    display: flex;
    left: 7%;
}
/* <-------------- newNeed(Offer)beforeRegisterl style  END--------> */
/* <-------------- newNeed(Offer)Registerl style --------> */
.file-upload ul li {
    list-style-type: none;
}
.filesupload {
    display: inline;
}
.fileClose {
    cursor: pointer;
    color: #337ab7;
    padding-bottom: 2px;
}
.file-upload ul li img {
    width: 65px;
    height: auto;
    border: 1px solid #e5e5e5;
    margin-bottom: 8px;
}
/* <-------------- newNeed(Offer)beforeRegisterl style  END--------> */


/* <---- NAV BAR MIN-WIDTH FIX NEED TO REMOVE AND FIX IN BOOTSTRAP ! -----> */
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* <---- NAV BAR MIN-WIDTH FIX NEED TO REMOVE AND FIX IN BOOTSTRAP ! -----> */

/* <-------------- Dropdown --------> */
location-search .dropdown-menu {
    width: 1140px;
    right: -95px;
    left: auto;
    padding-left: 10px;
}

category-search .dropdown-menu {
    padding-left: 10px;
    min-width: 175px;
}

location-search .btn-group, location-search button, category-search .btn-group, category-search button {
    width: 100%;
}

location-search .btn-group {
    position: absolute;
}

.cities span, .regions span, category-search span {
    display: inline-block;
}

category-search span {
    width: 100%;
}

.cities span {
    width: 210px;
}

.regions span {
    width: 185px;
}
/* <-------------- Dropdown  END--------> */
