<section>
    <div ng-view="" class="container ng-scope">
        <div class="row ng-scope">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong>Зареєструватися</strong>
                    </div>
                    <div class="panel-body">
                        <div class="text-right"><span class="text-danger">*</span> обов'язкове поле для заповнення</div>
                        <form name="registerForm" ng-submit="vm.signup(registerForm.$valid)" role="form"
                              class="form-horizontal" novalidate>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="name">Ім'я Прізвище
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="vm.name" placeholder="Ім'я Прізвище"
                                           name="name" id="name" class="form-control" ng-minlength="6" required>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label" for="phone">Телефон
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <input ng-model="vm.address.phone" placeholder="Телефон" name="phone"
                                               id="phone" class="form-control" required>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="region">Область</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="region" id="region"
                                            ng-options="region.name for region in vm.regions track by region.id"
                                            ng-model="vm.region" ng-change="vm.setRegion(vm.region);">
                                        <option value="">Область</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="city">Місто</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="city" id="city"
                                            ng-options="city.name for city in vm.cities"
                                            ng-model="vm.city" ng-disabled="!(vm.region)">
                                        <option value="">Місто</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="address">Адреса</label>
                                <div class="col-sm-9">
                                    <input ng-model="vm.address.description" placeholder="Адреса" name="address" id="address"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="email">Пошта
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <input type="email" ng-model="vm.username" placeholder="Пошта" name="email" id="email"
                                           class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="password">Пароль
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <input type="password" ng-model="vm.password" placeholder="Пароль" name="password"
                                           id="password" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary pull-right" type="submit">Створити</button>
                            </div>
                            <p class="error"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
