<section class="my-cabinet container well top">
    <section>

        <tabset>
            <tab heading="{{ 'profile.publishedNeeds' | translate }}" active="vm.tabs.my_needs.active" class="wide">
                <div class="status">
                    <span><a href="#" class="currneLink">{{ 'profile.active' | translate }}</a></span>
                    <span><a href="#">{{ 'profile.finished' | translate }}</a></span>
                </div>
                <div class="publication-type">
                    <form role="form">
                        <label class="radio-inline">
                            <input disabled="disabled" type="radio" name="optradio" checked>{{ 'profile.needs' | translate }}
                        </label>
                        <label class="radio-inline">
                            <input disabled="disabled" type="radio" name="optradio">{{ 'profile.projects' | translate }}
                        </label>
                    </form>
                </div>
                <div class="contentWrapper">

                    <table class="table table-striped">
                        <tr>
                            <th>{{ 'profile.name' | translate }}:</th>
                            <th class="text-center">{{ 'profile.responds' | translate }}:</th>
                            <th class="text-center">{{ 'profile.published' | translate }}:</th>
                            <th class="text-center">{{ 'profile.actualTo' | translate }}:</th>
                            <th class="text-right">{{ 'profile.control' | translate }}:</th>
                        </tr>


                        <tr ng-repeat="need in vm.myNeeds">
                            <td><a ui-sref="needs.created({id:need.id})">{{need.name}}</a></td>
                            <td class="text-center"><a ui-sref="needs.created({id:need.id})">5</a></td>
                            <td class="text-center"><span>{{need.created | date:'yyyy-MM-dd'}}</span></td>
                            <td class="text-center"><span>{{need.formattedActualTo | date:'yyyy-MM-dd'}}</span></td>
                            <td class="text-right">
                                <a ui-sref="needs.edit({id:need.id})">
                                    <button type="button" title="{{ 'profile.edit' | translate }}"
                                            class="btn btn-primary glyphicon glyphicon-pencil"></button>
                                </a>
                                <a ng-click="vm.deleteCurrentNeed(need.id)">
                                    <button type="button" title="{{ 'profile.delete' | translate }}"
                                            class="btn btn-default glyphicon glyphicon-remove"></button>
                                </a>
                                <remove-need-modal-directive></remove-need-modal-directive>
                            </td>
                        </tr>

                    </table>

                </div>
            </tab>


            <tab heading="Підтримані потреби" active="vm.tabs.sup_needs.active" class="wide">
                <div class="status">
                    <span><a href="#" class="currneLink">{{ 'profile.active' | translate }}</a></span>
                    <span><a href="#">{{ 'profile.finished' | translate }}</a></span>
                </div>
                <div class="contentWrapper">
                    <table class="table table-striped">
                        <tr>
                            <th>{{ 'profile.name' | translate }}</th>
                            <th class="text-center">{{ 'profile.author' | translate }}</th>
                            <th class="text-center">{{ 'profile.published' | translate }}</th>
                            <th class="text-center">{{ 'profile.actualTo' | translate }}</th>
                            <th class="text-right">{{ 'profile.control' | translate }}</th>
                        </tr>

                        <tr>
                            <td><a href="/needs/createdneed">Кольорові олівці</a></td>
                            <td class="text-center"><a href="/profile/user">Катя Єдинорог</a></td>
                            <td class="text-center"><span>06/01/2014</span></td>
                            <td class="text-center"><span>10/07/2016</span></td>
                            <td class="text-right">
                                <a>
                                    <button type="button" title="Закрити"
                                            class="btn btn-default glyphicon glyphicon-remove"></button>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td><a href="/needs/createdneed">Кольорові олівці</a></td>
                            <td class="text-center"><a href="/profile/user">Катя Єдинорог</a></td>
                            <td class="text-center"><span>06/01/2014</span></td>
                            <td class="text-center"><span>10/07/2016</span></td>
                            <td class="text-right">
                                <a>
                                    <button type="button" title="Закрити"
                                            class="btn btn-default glyphicon glyphicon-remove"></button>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td><a href="/needs/createdneed">Кольорові олівці</a></td>
                            <td class="text-center"><a href="/profile/user">Катя Єдинорог</a></td>
                            <td class="text-center"><span>06/01/2014</span></td>
                            <td class="text-center"><span>10/07/2016</span></td>
                            <td class="text-right">
                                <a>
                                    <button type="button" title="Закрити"
                                            class="btn btn-default glyphicon glyphicon-remove"></button>
                                </a>
                            </td>
                        </tr>

                    </table>
                </div>
            </tab>


            <tab heading="{{ 'profile.publishedOffers' | translate }}" active="vm.tabs.my_offers.active" class="wide">
                <div class="status">
                    <span><a href="#" class="currneLink">{{ 'profile.active' | translate }}</a></span>
                    <span><a href="#">{{ 'profile.control' | translate }}</a></span>
                </div>
                <div class="contentWrapper">

                    <table class="table table-striped">
                        <tr>
                            <th>Назва:</th>
                            <th class="text-center">{{ 'profile.responds' | translate }}:</th>
                            <th class="text-center">{{ 'profile.published' | translate }}:</th>
                            <th class="text-center">{{ 'profile.actualTo' | translate }}:</th>
                            <th class="text-right">{{ 'profile.control' | translate }}:</th>
                        </tr>


                        <tr ng-repeat="offer in vm.myOffers">
                            <td><a ui-sref="offers.created({id:offer.id})">{{offer.name}}</a></td>
                            <td class="text-center"><a ui-sref="offers.created({id:offer.id})">5</a></td>
                            <td class="text-center"><span>{{offer.created | date:'yyyy-MM-dd'}}</span></td>
                            <td class="text-center"><span>{{offer.formattedActualTo | date:'yyyy-MM-dd'}}</span></td>
                            <td class="text-right">
                                <a ui-sref="offers.edit({id:offer.id})">
                                    <button type="button" title="{{ 'profile.edit' | translate }}"
                                            class="btn btn-primary glyphicon glyphicon-pencil"></button>
                                </a>
                                <a  ng-click="vm.deleteCurrentOffer(offer.id)">
                                    <button type="button" title="{{ 'profile.delete' | translate }}"
                                            class="btn btn-default glyphicon glyphicon-remove"></button>
                                </a>
                                <remove-offer-modal-directive></remove-offer-modal-directive>
                            </td>
                        </tr>

                    </table>

                </div>
            </tab>


            <tab heading="{{ 'profile.supportedOffers' | translate }}" active="vm.tabs.sup_offers.active" class="wide">
                <div class="status">
                    <span><a href="#" class="currneLink">{{ 'profile.active' | translate }}</a></span>
                    <span><a href="#">{{ 'profile.finished' | translate }}</a></span>
                </div>
                <div class="contentWrapper">
                    <table class="table table-striped">
                        <tr>
                            <th>Назва</th>
                            <th class="text-center">{{ 'profile.author' | translate }}</th>
                            <th class="text-center">{{ 'profile.published' | translate }}</th>
                            <th class="text-center">{{ 'profile.actualTo' | translate }}</th>
                            <th class="text-right">{{ 'profile.control' | translate }}</th>
                        </tr>

                        <tr>
                            <td><a href="/needs/createdneed">Кольорові олівці</a></td>
                            <td class="text-center"><a href="/profile/user">Катя Єдинорог</a></td>
                            <td class="text-center"><span>06/01/2014</span></td>
                            <td class="text-center"><span>10/07/2016</span></td>
                            <td class="text-right">
                                <a>
                                    <button type="button" title="Закрити"
                                            class="btn btn-default glyphicon glyphicon-remove"></button>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td><a href="/needs/createdneed">Кольорові олівці</a></td>
                            <td class="text-center"><a href="/profile/user">Катя Єдинорог</a></td>
                            <td class="text-center"><span>06/01/2014</span></td>
                            <td class="text-center"><span>29/07/2016</span></td>
                            <td class="text-right">
                                <a>
                                    <button type="button" title="Закрити"
                                            class="btn btn-default glyphicon glyphicon-remove"></button>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td><a href="/needs/createdneed">Кольорові олівці</a></td>
                            <td class="text-center"><a href="/profile/user">Катя Єдинорог</a></td>
                            <td class="text-center"><span>06/01/2014</span></td>
                            <td class="text-center"><span>10/07/2016</span></td>
                            <td class="text-right">
                                <a>
                                    <button type="button" title="Закрити"
                                            class="btn btn-default glyphicon glyphicon-remove"></button>
                                </a>
                            </td>
                        </tr>


                    </table>

                </div>
            </tab>


            <tab heading="{{ 'profile.messages' | translate }}" active="vm.tabs.messages.active" class="">
                <div class="status">
                    <span><a href="#">{{ 'profile.messageHistory' | translate }}</a></span>
                </div>
                <div class="contentWrapper">

                    <table class="table">
                        <tr>
                            <th class="message-date">{{ 'profile.date' | translate }}</th>
                            <th>{{ 'profile.subject' | translate }}</th>
                        </tr>
                        <tr class="active">
                            <td><span>10/14/2015</span></td>
                            <td><span>Ваша потреба підтримана.</span></td>
                        </tr>
                        <tr class="active">
                            <td><span>05/04/2013</span></td>
                            <td><span>Перегляньте Вашу пропозицію.</span></td>
                        </tr>
                        <tr>
                            <td><span>10/13/2014</span></td>
                            <td><span>Вітаємо Вас на нашому сайті.</span></td>
                        </tr>
                        <tr>
                            <td><span>10/13/2014</span></td>
                            <td><span>Вітаємо Вас на нашому сайті.</span></td>
                        </tr>
                    </table>

                </div>
            </tab>

            <tab heading="{{ 'profile.profile' | translate }}" active="true" class="">
                <div class="status">
                    <span><a href="#">{{ 'profile.userData' | translate }}</a></span>
                </div>
                <div class="contentWrapper user-profile">
                    <div class="row" id="profile">

                        <div class="col-xs-12 col-md-6">
                            <form editable-form name="editUser" onaftersave="vm.saveUser()">
                                <address class>
                                    <p>
                                        <strong title="ім'я">{{ 'profile.yourName' | translate }}:</strong>
                                        <span editable-text="vm.users.name" e-name="name" e-placeholder="Василь Пупкін"
                                              e-required> {{vm.username}}</span>
                                    </p>

                                    <p>
                                        <strong title="email">{{ 'profile.email' | translate }}:</strong>
                                        <span editable-text="vm.users.email" e-name="email"
                                              e-placeholder="user@gmail.com" e-required>{{vm.email}}</span>
                                    </p>

                                    <p>
                                        <strong title="email">{{ 'profile.address' | translate }}:</strong>
                                        <span editable-text="vm.users.email" e-name="address"
                                              e-placeholder="вул.Шевченка буд.1" e-required>{{vm.address}}</span>
                                    </p>

                                    <p>
                                        <strong title="телефон">{{ 'profile.phone' | translate }}:</strong>
                                        <span editable-text="vm.users.phone" e-name="phone" e-placeholder="0959878589"
                                              e-required>{{vm.phone}}</span>
                                    </p>
                                    <strong>{{ 'profile.role' | translate }}: </strong><span>{{vm.role}}</span>
                                </address>
                                <div>
                                    <!-- button to show form -->
                                    <button type="button" title="{{ 'profile.edit' | translate }}" class="btn btn-primary"
                                            ng-click="editUser.$show()" ng-show="!editUser.$visible">
                                        Редагувати
                                    </button>
                                    <!-- buttons to submit / cancel form -->
                                <span ng-show="editUser.$visible">
                                    <button type="submit" class="btn btn-primary" ng-disabled="editUser.$waiting">
                                        {{ 'profile.save' | translate }}
                                    </button>
                                    <button type="button" class="btn btn-default" ng-disabled="editUser.$waiting"
                                            ng-click="editUser.$cancel()">
                                        {{ 'profile.cancel' | translate }}
                                    </button>
                                </span>
                                </div>
                            </form>
                        </div>
                        <div class="statistics col-xs-12 col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge stats"><a ng-click="vm.tabs.my_needs.active = true" href="">{{vm.myNeeds.length}}</a></span>
                                    {{ 'profile.publishedNeeds' | translate }}:
                                </li>
                                <li class="list-group-item">
                                    <span class="badge stats"><a ng-click="vm.tabs.sup_needs.active = true"
                                                                 href="">{{vm.supNeeds.length}}</a></span>
                                    {{ 'profile.supportedNeeds' | translate }}:
                                </li>
                                <li class="list-group-item">
                                    <span class="badge stats"><a ng-click="vm.tabs.my_offers.active = true"
                                                                 href="">{{vm.myOffers.length}}</a></span>
                                    {{ 'profile.publishedOffers' | translate }}:
                                </li>
                                <li class="list-group-item">
                                    <span class="badge stats"><a ng-click="vm.tabs.sup_offers.active = true"
                                                                 href="">{{vm.supOffers.length}}</a></span>
                                    {{ 'profile.supportedOffers' | translate }}:
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </tab>
        </tabset>
    </section>
</section>
