<section class="user-profile container well top">

    <tabset>
        <tab heading="Опубліковані потреби" class="wide">
            <div class="status">
                <span><a href="#" class="currneLink">Активні</a></span>
                <span><a href="#">Завершені</a></span>
            </div>
            <div class="publication-type">
                <form role="form">
                    <label class="radio-inline">
                        <input disabled="disabled" type="radio" name="optradio" checked>Потреби
                    </label>
                    <label class="radio-inline">
                        <input disabled="disabled" type="radio" name="optradio">Проекти
                    </label>
                </form>
            </div>
            <div class="contentWrapper">

                <table class="table table-striped">
                    <tr>
                        <th>Назва</th>
                        <th class="text-center">Відгукнулись</th>
                        <th class="text-center">Опубліковано</th>
                        <th class="text-center">Актуально до</th>
                    </tr>
                    <tr ng-repeat="myNeed in vm.tabs.myNeeds | limitTo: vm.limit">
                        <td><a ng-href="needs/createdneed/{{myNeed.id}}">{{myNeed.name}}</a></td>
                        <td class="text-center"><a href="/profile/user">5 користувачів</a></td>
                        <td class="text-center"><span>{{myNeed.created | date:'dd-MM-yyyy'}}</span></td>
                        <td class="text-center"><span>{{myNeed.formattedActualTo | date:'dd-MM-yyyy'}}</span></td>
                    </tr>
                </table>

            </div>
        </tab>

        <tab heading="Підтримані потреби" class="wide">
            <div class="status">
                <span><a href="#" class="currneLink">Активні</a></span>
                <span><a href="#">Завершені</a></span>
            </div>
            <div class="contentWrapper">
                <table class="table table-striped">
                    <tr>
                        <th>Назва</th>
                        <th class="text-center">Автор</th>
                        <th class="text-center">Опубліковано</th>
                        <th class="text-center">Актуально до</th>
                    </tr>
                    <tr ng-repeat="supNeed in vm.tabs.supNeeds | limitTo: vm.limit">
                        <td><a ng-href="offers/createdneed/{{supNeed.id}}">{{supNeed.name}}</a></td>
                        <td class="text-center"><a href="/profile/user">5 користувачів</a></td>
                        <td class="text-center"><span>{{supNeed.created | date:'dd-MM-yyyy'}}</span></td>
                        <td class="text-center"><span>{{supNeed.formattedActualTo | date:'dd-MM-yyyy'}}</span></td>
                    </tr>
                </table>
            </div>
        </tab>

        <tab heading="Опубліковані пропозиції" class="wide">
            <div class="status">
                <span><a href="#" class="currneLink">Активні</a></span>
                <span><a href="#">Завершені</a></span>
            </div>
            <div class="contentWrapper">
                <table class="table table-striped">
                    <tr>
                        <th>Назва</th>
                        <th class="text-center">Відгукнулись</th>
                        <th class="text-center">Опубліковано</th>
                        <th class="text-center">Актуально до</th>
                    </tr>
                    <tr ng-repeat="myOffer in vm.tabs.myOffers | limitTo: vm.limit">
                        <td><a ng-href="offers/createdoffer/{{myOffer.id}}">{{myOffer.name}}</a>
                        <td class="text-center"><a href="/profile/user">5 користувачів</a></td>
                        <td class="text-center"><span>{{myOffer.created | date:'dd-MM-yyyy'}}</span></td>
                        <td class="text-center"><span>{{myOffer.formattedActualTo | date:'dd-MM-yyyy'}}</span></td>
                    </tr>
                </table>

            </div>
        </tab>

        <tab heading="Підтримані пропозиції" class="wide">
            <div class="status">
                <span><a href="#" class="currneLink">Активні</a></span>
                <span><a href="#">Завершені</a></span>
            </div>
            <div class="contentWrapper">
                <table class="table table-striped">
                    <tr>
                        <th>Назва</th>
                        <th class="text-center">Автор</th>
                        <th class="text-center">Опубліковано</th>
                        <th class="text-center">Актуально до</th>
                    </tr>
                    <tr ng-repeat="supOffer in vm.tabs.supOffers | limitTo: vm.limit">
                        <td><a ng-href="needs/createdoffer/{{supOffer.id}}">{{supOffer.name}}</a></td>
                        <td class="text-center"><a href="/profile/user">5 користувачів</a></td>
                        <td class="text-center"><span>{{supOffer.created | date:'dd-MM-yyyy'}}</span></td>
                        <td class="text-center"><span>{{supOffer.formattedActualTo | date:'dd-MM-yyyy'}}</span></td>
                    </tr>
                </table>

            </div>
        </tab>

        <tab heading="Профіль" active="true" class="wide">
            <div class="status">
                <span><a href="#">Дані користувача</a></span>
            </div>
            <div class="contentWrapper user-profile">
                <div class="row" id="profile">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p>
                            <strong title="name">Ваше ім&#180;я:</strong>
                            <span> {{vm.username}}</span>
                        </p>
                        <p>
                            <strong title="email">Електронна пошта:</strong>
                            <span> {{vm.email}}</span>
                        </p>
                        <p>
                            <strong title="address">Адреса</strong>
                            <span> {{vm.address}}</span>
                        </p>
                        <p>
                            <strong title="phone">Телефон:</strong>
                            <span> {{vm.phone}}</span>
                        </p>
                        <p>
                            <strong title="role">Хто Ви:</strong>
                            <span> {{vm.role}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>

</section>
