<div class="btn-group col-xs-12 col-sm-4 col-md-4 col-lg-4 marginBottom" dropdown>
    <button class="btn btn-info dropdown-toggle col-xs-12" type="button" id="dropdownMenu3" dropdown-toggle aria-haspopup="true" aria-expanded="true">
        Місто&nbsp;
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu3">
        <li ng-repeat="data in vm.locations"><a href="#" ng-click="vm.setFilter(data.location);">{{data.location}}</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" ng-click="vm.resetFilter()">Скинути фільтр</a></li>
    </ul>
</div>
