<div class="category-search">
    <div class="search-input-wrap" dropdown is-open="vm.dropdown.isOpened" auto-close="outsideClick">
        <input type="text"
               ng-model="vm.category"
               placeholder="{{'core.selectCategoryPlaceholder' | translate }}"
               class="form-control"
               dropdown-toggle
               readonly/>
        <div class="dropdown-menu" role="menu" aria-labelledby="single-button">
            <div ng-hide="vm.selectedCategory">
                <span ng-repeat="category in vm.categories track by $index">
                    <a href="#" ng-click="vm.showSubcategory(category)">{{category.name}}</a>
                </span>
            </div>
            <div>
                <span ng-repeat="subCategory in vm.selectedCategory track by $index">
                    <a href="#" ng-click="vm.showSubcategory(subCategory)">{{subCategory.name}}</a>
                </span>
            </div>
        </div>
    </div>
</div>
