<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 marginBottom category-search">
    <input type="text" class="form-control" ng-model="vm.categoryValue" placeholder="Виберіть категорію" popover-placement="bottom" popover-template="vm.categoryPopover.templateUrl" popover-is-open="vm.categoryPopover.opened" popover-trigger="focus"/>
</div>
<script type="text/ng-template" id="categoryPopoverTemplate.html">
    <div class="regions">
        <ul>
            <li ng-repeat="category in vm.categories">
                <a href="#" ng-click="vm.enableShowSubcategories(category.id)">{{ category.name }}</a>
            </li>
        </ul>
    </div>
    <div class="cities" ng-show="vm.showSubcategories">
        <ul>
            <li ng-repeat="subcategory in vm.subcategories" ng-if="subcategory.parentId == vm.setCategoryId">
                <a href="#" ng-click="vm.setCategory(subcategory.name)">{{ subcategory.name }}</a>
            </li>
        </ul>
    </div>
</script>
