<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 marginBottom location-search">
    <input type="text" class="form-control" ng-click="vm.enableShowRegions()" ng-model="vm.locationValue" placeholder="Вкажіть місто" popover-placement="bottom" popover-template="vm.locationPopover.templateUrl"/>
    <div class="regions" ng-show="vm.showRegions">
        <ul>
            <li ng-repeat="region in vm.regions">
                <a href="#" ng-click="vm.enableShowCities(region.id)">{{ region.name }}</a>
            </li>
        </ul>
    </div>
    <div class="cities" ng-show="vm.showCities">
        <ul>
            <li ng-repeat="city in vm.cities" ng-if="city.parentId == vm.setRegionId">
                <a href="#" ng-click="vm.setLocation(city.name)">{{ city.name }}</a>
            </li>
        </ul>
    </div>
</div>
