<div class="location-search">
    <div class="btn-group" dropdown is-open="vm.dropdown.isopen" auto-close="outsideClick">
        <button id="single-button" type="button" ng-model="vm.location" class="btn" dropdown-toggle>
            {{ vm.locationButton }}
        </button>
        <div class="dropdown-menu" role="menu" aria-labelledby="single-button">
            <div class="regions" ng-show="vm.showRegions">
                <span ng-repeat="region in vm.regions">
                    <a href="#" ng-click="vm.enableShowCities(region._links.cities.href)">{{ region.name }}</a>
                </span>
            </div>
            <div class="cities" ng-show="vm.showCities">
                <span ng-repeat="city in vm.cities | orderBy: 'name'">
                    <a href="#" ng-click="vm.setLocation(city.name)">{{ city.name }}</a>
                </span>
            </div>
        </div>
    </div>
</div>
