<div class="location-search">
    <input type="text" class="form-control" ng-model="vm.location" placeholder="Вкажіть місто" popover-placement="bottom" popover-template="vm.locationPopover.templateUrl" popover-is-open="vm.locationPopover.opened" popover-trigger="focus"/>
</div>
<script type="text/ng-template" id="locationPopoverTemplate.html">
    <div class="regions" ng-show="vm.showRegions">
        <ul>
            <li ng-repeat="region in vm.regions">
                <a href="#" ng-click="vm.enableShowCities(region.id)">{{ region.name }}</a>
            </li>
        </ul>
    </div>
    <div class="cities" ng-show="vm.showCities">
        <ul>
            <li ng-repeat="city in vm.cities" ng-if="city.parentId == vm.setRegionId">
                <a href="#" ng-click="vm.setLocation(city.name)">{{ city.name }}</a>
            </li>
        </ul>
    </div>
</script>
