<section>
    <div class="contentWrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <category-search class="col-xs-12 col-sm-4 col-md-4 col-lg-4 marginBottom" category="vm.category"></category-search>
                <location-search class="col-xs-12 col-sm-4 col-md-4 col-lg-4 marginBottom" location="vm.location"></location-search>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 marginBottom">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Я шукаю..." ng-model="vm.preSearch" ng-keyup="$event.keyCode == 13 && vm.setSearch(vm.preSearch)">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.setSearch(vm.preSearch)">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-md-offset-2 col-lg-offset-2 search-result">
        <hr>
        <h2>За Вашим запитом знайдено {{ filtered.length }} потреб:</h2>
        <hr>
        <div ng-repeat="need in vm.needs | filter: vm.category | filter: vm.location | filter: vm.search as filtered">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 hidden-xs">
                    <img src="{{ need.image }}" class="img-thumbnail" alt="Main photo">
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-7">
                    <div>
                        <strong><a ui-sref="needs.created">{{ need.desc }}</a></strong>
                        <p>
                            {{ need.body }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong>{{ need.location }}</strong>
                            <small> / </small>
                            <strong>{{ need.date }}</strong>
                        </div>
                    </div>
                </div>
                <div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <p><b>Автор: </b></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p>
                                <a href="/profile/user">{{ need.author }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <p><b>Категорія: </b></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p>
                                <a href="#" ng-click="vm.setCategory(need.category)">{{ need.category }}</a>
                                <div><a ui-sref="needs.edit({id:1})">Редагувати</a></div>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <hr>
        </div>
        <pagination total-items="vm.totalItems" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" ng-change="vm.loadPage()"
                    max-size="5" boundary-links="true" class="pagination-sm" first-text="Перша" last-text="Остання"
                    previous-text="Попередня" next-text="Наступна"></pagination>
    </div>
</section>
