<section id="needs">
    <section class="main-filters">
        <div class="container">

            <div class="col-xs-12 col-sm-11 no-gutter">
                <div class="col-xs-6 no-gutter margin-bottom-20">
                    <input id="key-search"
                           class="form-control"
                           type="search"
                           placeholder="{{'needs.lookingFor' | translate}}..."
                           ng-model="vm.searchValue"
                           ng-keyup="$event.keyCode === 13 && vm.setSearch()">
                </div>
                <category-search class="col-xs-2 no-gutter margin-bottom-20"
                                 category-hierarchy="vm.categoryHierarchy"
                                 category="vm.category">

                </category-search>
                <location-search class="col-xs-2 no-gutter margin-bottom-20"
                                 location="vm.location">

                </location-search>
                <div class="search-input-wrap needs col-xs-2 no-gutter margin-bottom-20" dropdown
                     is-open="status.isopen">
                    <input type="text"
                           class="form-control"
                           dropdown-toggle
                           ng-model="vm.contentType"
                           ng-disabled="disabled"
                           placeholder="{{'needs.needs' | translate}}"
                           readonly/>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <a href="#" ng-click="vm.setContentType('Потреби')">{{'needs.needsTitle' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="col-xs-12 col-sm-1 btn btn-success glyphicon glyphicon-search"
                    ng-click="vm.setSearch()">
            </button>

        </div>
    </section>
    <div class="container search-result well top">
        <h2>{{vm.searchLabel}}</h2>
        <hr>
        <div ng-repeat="need in vm.needs">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 hidden-xs">
                    <img src="{{ need.image }}" class="img-thumbnail" alt="Main photo">
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-7">
                    <div>
                        <strong><a ui-sref="needs.created({id:{{need.id}}})">{{ need.name }}</a></strong>

                        <p>
                            {{ need.description }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong>{{ need.address }}</strong>
                            <small> /</small>
                            <strong>{{ need.formattedActualTo }}</strong>
                        </div>
                    </div>
                </div>
                <div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <p><b>{{'needs.author' | translate}}: </b></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p>
                                <a ui-sref="profile.user({id:{{need.userCreated.id}}})">{{ need.userCreated.name }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <p><b>{{'needs.category' | translate}}: </b></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p>
                                <a href="#" ng-click="vm.setCategory(need.category.name)">{{ need.category.name }}</a>

                            <div>
                                <a ui-sref="needs.edit({id:{{need.id}}})">{{'needs.edit' | translate}}</a>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <hr>
        </div>
        <div id="itemsPerPageWrapper" class="btn-group pull-left" dropdown>
            <button id="itemsPerPageButton"
                    class="btn btn-sm btn-default"
                    dropdown-toggle type="button">
                {{'needs.display' | translate}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="itemsPerPageButton">
                <li role="menuitem"
                    ng-repeat="choice in vm.perPageDropdownItems track by $index"
                    ng-click="vm.setItemsPerPage($index)">
                    <a href="">{{choice.label}}</a>
                </li>
            </ul>
        </div>
        <pagination total-items="vm.totalItems"
                    ng-model="vm.currentPage"
                    items-per-page="vm.itemsPerPage"
                    ng-change="vm.getSearchData()"
                    max-size="5"
                    boundary-links="true"
                    class="pagination-sm"
                    first-text="{{'needs.firstPage' | translate}}"
                    last-text="{{'needs.lastPage' | translate}}"
                    previous-text="{{'needs.previousPage' | translate}}"
                    next-text="{{'needs.nextPage' | translate}}"></pagination>
    </div>
</section>
