<section>
    <div class="container">
        <div class="col-md-offset-1">
            <h2 class="text-left">Нова потреба</h2>
        </div>
        <form class="form-horizontal" ng-submit="vm.submitNeed();">
            <div class="form-group row">
                <label class="control-label col-sm-2">Назва</label>
                        <!-- here should be pre-filled data from previous page -->
                <h3>{{vm.need.title}}</h3>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Категорія</label>
                <div class="col-sm-6">
                    <!-- here should be pre-filled data from previous page -->
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Одяг</a>
                        </li>
                        <li>
                            <a href="#">Дитячий одяг</a>
                        </li>
                        <li>{{vm.need.category}}</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Опис потреби</label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="4" placeholder="Опишіть вашу потребу" ng-model="vm.need.description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Фото:</label>
                <file-upload-directive upload="vm.upload"></file-upload-directive>
            </div>
            <!-- <div class="form-group row">
                <label class="control-label col-sm-2">Розмір:</label>
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                </div>
            </div>           this should be discussed, there shouldn't be same sizes for all types of needs (such as difference between clothes sizes and shoes)-->
            <div class="row">
                <div class="col-sm-8">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Виберіть область:</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-options="region.name for region in vm.regions track by region.id" ng-model="region" ng-change="vm.setCity(region.id, region.name);">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Виберіть місто:</label>
                <div class="col-sm-2">
                    <!-- here should be pre-filled data depending on previous select field -->
                    <select class="form-control" id="cities" ng-options="city.name for city in vm.cities" ng-model="vm.need.city" ng-disabled="!(region)"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Адреса:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="street" id="str" ng-model="vm.need.street" placeholder="вул. Тараса Шевченка">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="house" id="house_nmb" ng-model="vm.need.houseNumber" placeholder="Номер будинку">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="flat" id="flat_nmb" ng-model="vm.need.flatNumber" placeholder="Номер квартири">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <date-picker date="vm.dt"></date-picker>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Зручний час</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="s_time" ng-model="vm.need.suitTime" placeholder="Пн-Пт, 10:00 - 19:00;">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Зможу забрати:</label>
                <div class="col-sm-6">
                    <label class="radio-inline">
                        <input type="radio" name="canGet" value="option1" ng-model="vm.getChecked" ng-value="true">Так
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="canGet" value="option2" ng-model="vm.getChecked" ng-value="false" checked>Ні
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 col-md-offset-6">
                    <a href="#" class="btn btn-default">Відмінити</a>
                    <button type="submit" class="btn btn-primary">Опублікувати</button>
                </div>
            </div>
        </form>
    </div>
</section>
