<!-- New need, first step -->
<section>
  <div class="container">
      <h2 class="text-left text-heading">Нова потреба</h2>
      <form class="form-horizontal" name="NewNeed" ng-submit="vm.submitNeed()">
          <div class="form-group">
              <label class="control-label col-sm-1">Назва</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" name="needTitle" ng-model="vm.need.title" placeholder="Назва потреби" required>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-1">Категорія</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="category_name" ng-model="vm.need.category" placeholder="Оберіть категорію" ng-click="vm.open()" required>
              </div>
          </div>
          <!-- Modal categories -->
          <need-modal-directive></need-modal-directive>
          <div class="form-group">
              <button type="button" class="btn btn-warning">Назад</button>
              <button type="submit" class="btn btn-primary">Далі</button>
          </div>
      </form>
  </div>
</section>
<!-- New need, the end of section -->
