<label class="control-label col-sm-2">Актуальність: </label>
<div class="input-group col-sm-6">
    <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.date" is-open="vm.status.opened" min-date="vm.minDate" max-date="'2020-06-22'" datepicker-options="vm.dateOptions" date-disabled="vm.disabled(date, mode)" close-text="Закрити"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>
